<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/toastr/toastr.css" />
  <link rel="stylesheet" href="bower_components/materialize/bin/materialize.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body ng-app="pinewsApp">
<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
  your browser</a> to improve your experience.</p>
<![endif]-->


<div id="header-wrap">
  <header id="header">
    <div class="row" id="nav-desktop">
        <nav>
          <div class="nav-wrapper">
            <div id="logo-container">
              <a ui-sref="home"><img width="40" class="icon hide-on-med-and-down" src="/images/logo.svg" alt=""></a>
              <a ui-sref="home" class="brand-logo">PiNews</a>
            </div>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a ui-sref="home">Home</a></li>
              <li><a ui-sref="about">About</a></li>
              <li><a ui-sref="admin.dashboard" ng-if="user.signedIn">Dash board</a></li>
              <li><a ui-sref="sign_in" ng-if="!user.signedIn">Sign In</a></li>
              <li><a href="javascript:void(0);" ng-click="signOut()" ng-if="user.signedIn">Sign out</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a ui-sref="home">Home</a></li>
              <li><a ui-sref="about">About</a></li>
              <li><a ui-sref="admin.dashboard" ng-if="user.signedIn">Dash board</a></li>
              <li><a ui-sref="sign_in" ng-if="!user.signedIn">Sign In</a></li>
              <li><a href="javascript:void(0);" ng-click="signOut()" ng-if="user.signedIn">Sign out</a></li>
            </ul>
          </div>
        </nav>
    </div>
  </header>
</div>



<main>
  <div class="container">
    <div ui-view></div>
  </div>
</main>

<footer class="page-footer">
  <div class="footer-copyright">
    <div class="container">
      © 2016 Copyright PiNews
    </div>
  </div>
</footer>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  !function (A, n, g, u, l, a, r) {
    A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
      (A[l].q = A[l].q || []).push(arguments)
    }, A[l].l = +new Date, a = n.createElement(g),
      r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
  }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-XXXXX-X');
  ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-cookies/angular-cookies.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-cookie/angular-cookie.js"></script>
<script src="bower_components/ng-token-auth/dist/ng-token-auth.js"></script>
<script src="bower_components/toastr/toastr.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/materialize/bin/materialize.js"></script>
<script src="bower_components/angular-materialize/src/angular-materialize.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
<script src="bower_components/ng-file-upload-shim/ng-file-upload-shim.js"></script>
<script src="bower_components/ngInfiniteScroll/build/ng-infinite-scroll.js"></script>
<!-- endbower -->
<!-- endbuild -->
<script>$(".button-collapse").sideNav();</script>
<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.controller.js"></script>
<script src="scripts/services/logger.js"></script>
<script src="scripts/exception/exception.js"></script>
<script src="scripts/exception/exception-handler.provider.js"></script>
<script src="scripts/controllers/about.controller.js"></script>
<script src="scripts/services/articles.js"></script>
<script src="scripts/controllers/user_sessions.js"></script>
<script src="scripts/controllers/admin/dashboard.controller.js"></script>
<script src="scripts/routes.js"></script>
<script src="scripts/controllers/admin/articles.controller.js"></script>
<script src="scripts/controllers/details.controller.js"></script>
<script src="scripts/controllers/app.controller.js"></script>
<script src="scripts/directives/modal.js"></script>
<script src="scripts/directives/whenVisible.js"></script>
<!-- endbuild -->
</body>
</html>
