<div class="row" ng-init="main.loadArticles()">

  <article ng-repeat="article in main.articles" class="grid-element-wrap col s6 m4 l4">
    <div class="grid-element">
      <a ui-sref="details({id: article.id, title: article.title})" class="waves-effect">
        <img ng-src="{{article.image}}" class="grid-element-bg" width="292" height="292" alt="{{article.title}}" data-hdpi="">
        <h3 class="grid-element-title">{{article.title}}</h3>
      </a>
      <div class="btn-floating btn-large main-blue waves-effect waves-light" ng-click="main.pinArticle(article)">
        <img src="/images/pin.svg">
      </div>
    </div>
  </article>

</div>
